@import "../Main/index";


.mainSearchPage {
  margin: 15px 15px 15px 34px;
  display: flex;
}

@media screen and (max-width: 699px) {
  .mainSearchPage {
    margin: 5px 5px 15px 10px;
  }
}