@import "../Main/index";


.searchPage {
  width: 820px;

  .searchForm {
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, .3);
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding: 14px 0 14px 0;
    width: 720px;

    .searchFormSectionOne {
      .innCompany {
        margin: 0 0 14px 0;
      }

      .innCompany::after {
        content: '*';
      }

      .countOfDocs::after {
        content: '*';
      }

      .rangeOfSearch::after {
        content: '*';
      }

      .tonality {
        position: relative;

        img {
          position: relative;
          right: 26px;
          cursor: pointer;
          top: 2px;
          height: 12px;
        }

        .searchUl {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;
          position: absolute;
          background: white;
          width: 170px;
          border: 1px solid #aaaaaa;
          border-radius: 3px;

          li {
            display: inline;
            padding: 1px 0 2px 0;
            cursor: pointer;
            width: 100%;
            text-align: center;
          }
        }
      }

      .myNumInput {
        width: 165px;
      }
    }


  }
}

@mixin searchFormInput {
  height: 25px;
  width: 270px;
}

@media screen and (max-width: 699px) {
  .searchPage {
    width: 300px;

    .h1AndP {
      position: relative;
    }

    .h1AndP h1 {
      font-size: 28px;
    }

    .h1AndP p {
      font-size: 18px;
    }

    .h1AndP img {
      position: absolute;
      height: 60px;
      right: 7px;
      bottom: 50px;
    }

    .searchForm {
      width: 300px;
      flex-direction: column;

      .searchFormSectionOne {
        margin: 0 5px 0 8px;

        .enterInn input {
          @include searchFormInput;
        }

        .tonality {
          img {
            left: 240px;
            top: -23px;
            height: 15px;
          }

          input {
            @include searchFormInput;

          }

          .searchUl {
            width: 275px;
            bottom: -44px;
          }
        }

        .rangeOfSearchMobile {
          display: flex;
          flex-direction: column;

          input {
            margin-top: 8px;
            @include searchFormInput;

          }
        }

        .enterDocs {
          .myNumInput {
            @include searchFormInput;

          }

        }
      }
    }
  }
}