@import "index";

.footer {
  background: $base-main-green-color;
  display: flex;
  justify-content: space-between;
  height: 137px;
  padding: 10px 25px;

  .footerDiv {
    color: $base-main-white-color;
    text-align: end;
    padding: 0 10px;

    p {
      margin: 1px 0;
    }


  }
}

@mixin zeroingOfFooter {
  margin: 0;
  padding: 0;
  li p {
    font-size: 12px;
  }
}

@media screen and (max-width: 699px) {
  .footer {
    padding: 0 5px 0 5px;

    .footerDiv {
      padding: 0 15px 0 0;

      .firstFooterUl {
        @include zeroingOfFooter;
        margin: 15px 0 13px 0;


        .nowrap {
          white-space: nowrap;
        }
      }

      .secondFooterUl {
        @include zeroingOfFooter;

      }
    }
  }
}


